# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

In [1]:
import pandas as pd
import numpy as np

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [2]:
file = pd.read_csv('sp500hst.txt', delimiter = ",",names=["date", "ticker", "open", "high", "low", "close", "volume"])
file

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

 2.Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [3]:
file.iloc[:,[3,4,5]].mean()

high     43.102243
low      42.054464
close    42.601865
dtype: float64

In [4]:
file['month']=file['date']
file['month']

0         20090821
1         20090824
2         20090825
3         20090826
4         20090827
            ...
122569    20100813
122570    20100816
122571    20100817
122572    20100819
122573    20100820
Name: month, Length: 122574, dtype: int64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [5]:

s = pd.Series(file['date'], dtype='str')
s
f=s.str[4:6]
file['month']=f
file

            date ticker   open     high     low  close  volume month
0       20090821      A  25.60  25.6100  25.220  25.55   34758    08
1       20090824      A  25.64  25.7400  25.330  25.50   22247    08
2       20090825      A  25.50  25.7000  25.225  25.34   30891    08
3       20090826      A  25.32  25.6425  25.145  25.48   33334    08
4       20090827      A  25.50  25.5700  25.230  25.54   70176    08
...          ...    ...    ...      ...     ...    ...     ...   ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561    08
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489    08
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498    08
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259    08
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792    08

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

In [6]:
q=pd.unique(file['ticker'])
q=file['ticker'].to_dict()
q

{0: 'A',
 1: 'A',
 2: 'A',
 3: 'A',
 4: 'A',
 5: 'A',
 6: 'A',
 7: 'A',
 8: 'A',
 9: 'A',
 10: 'A',
 11: 'A',
 12: 'A',
 13: 'A',
 14: 'A',
 15: 'A',
 16: 'A',
 17: 'A',
 18: 'A',
 19: 'A',
 20: 'A',
 21: 'A',
 22: 'A',
 23: 'A',
 24: 'A',
 25: 'A',
 26: 'A',
 27: 'A',
 28: 'A',
 29: 'A',
 30: 'A',
 31: 'A',
 32: 'A',
 33: 'A',
 34: 'A',
 35: 'A',
 36: 'A',
 37: 'A',
 38: 'A',
 39: 'A',
 40: 'A',
 41: 'A',
 42: 'A',
 43: 'A',
 44: 'A',
 45: 'A',
 46: 'A',
 47: 'A',
 48: 'A',
 49: 'A',
 50: 'A',
 51: 'A',
 52: 'A',
 53: 'A',
 54: 'A',
 55: 'A',
 56: 'A',
 57: 'A',
 58: 'A',
 59: 'A',
 60: 'A',
 61: 'A',
 62: 'A',
 63: 'A',
 64: 'A',
 65: 'A',
 66: 'A',
 67: 'A',
 68: 'A',
 69: 'A',
 70: 'A',
 71: 'A',
 72: 'A',
 73: 'A',
 74: 'A',
 75: 'A',
 76: 'A',
 77: 'A',
 78: 'A',
 79: 'A',
 80: 'A',
 81: 'A',
 82: 'A',
 83: 'A',
 84: 'A',
 85: 'A',
 86: 'A',
 87: 'A',
 88: 'A',
 89: 'A',
 90: 'A',
 91: 'A',
 92: 'A',
 93: 'A',
 94: 'A',
 95: 'A',
 96: 'A',
 97: 'A',
 98: 'A',
 99: 'A',
 100: 'A',
 101: 'A',
 102: 'A',
 103: 'A',
 104: 'A',
 105: 'A',
 106: 'A',
 107: 'A',
 108: 'A',
 109: 'A',
 110: 'A',
 111: 'A',
 112: 'A',
 113: 'A',
 114: 'A',
 115: 'A',
 116: 'A',
 117: 'A',
 118: 'A',
 119: 'A',
 120: 'A',
 121: 'A',
 122: 'A',
 123: 'A',
 124: 'A',
 125: 'A',
 126: 'A',
 127: 'A',
 128: 'A',
 129: 'A',
 130: 'A',
 131: 'A',
 132: 'A',
 133: 'A',
 134: 'A',
 135: 'A',
 136: 'A',
 137: 'A',
 138: 'A',
 139: 'A',
 140: 'A',
 141: 'A',
 142: 'A',
 143: 'A',
 144: 'A',
 145: 'A',
 146: 'A',
 147: 'A',
 148: 'A',
 149: 'A',
 150: 'A',
 151: 'A',
 152: 'A',
 153: 'A',
 154: 'A',
 155: 'A',
 156: 'A',
 157: 'A',
 158: 'A',
 159: 'A',
 160: 'A',
 161: 'A',
 162: 'A',
 163: 'A',
 164: 'A',
 165: 'A',
 166: 'A',
 167: 'A',
 168: 'A',
 169: 'A',
 170: 'A',
 171: 'A',
 172: 'A',
 173: 'A',
 174: 'A',
 175: 'A',
 176: 'A',
 177: 'A',
 178: 'A',
 179: 'A',
 180: 'A',
 181: 'A',
 182: 'A',
 183: 'A',
 184: 'A',
 185: 'A',
 186: 'A',
 187: 'A',
 188: 'A',
 189: 'A',
 190: 'A',
 191: 'A',
 192: 'A',
 193: 'A',
 194: 'A',
 195: 'A',
 196: 'A',
 197: 'A',
 198: 'A',
 199: 'A',
 200: 'A',
 201: 'A',
 202: 'A',
 203: 'A',
 204: 'A',
 205: 'A',
 206: 'A',
 207: 'A',
 208: 'A',
 209: 'A',
 210: 'A',
 211: 'A',
 212: 'A',
 213: 'A',
 214: 'A',
 215: 'A',
 216: 'A',
 217: 'A',
 218: 'A',
 219: 'A',
 220: 'A',
 221: 'A',
 222: 'A',
 223: 'A',
 224: 'A',
 225: 'A',
 226: 'A',
 227: 'A',
 228: 'A',
 229: 'A',
 230: 'A',
 231: 'A',
 232: 'A',
 233: 'A',
 234: 'A',
 235: 'A',
 236: 'A',
 237: 'A',
 238: 'A',
 239: 'A',
 240: 'A',
 241: 'A',
 242: 'A',
 243: 'A',
 244: 'A',
 245: 'AA',
 246: 'AA',
 247: 'AA',
 248: 'AA',
 249: 'AA',
 250: 'AA',
 251: 'AA',
 252: 'AA',
 253: 'AA',
 254: 'AA',
 255: 'AA',
 256: 'AA',
 257: 'AA',
 258: 'AA',
 259: 'AA',
 260: 'AA',
 261: 'AA',
 262: 'AA',
 263: 'AA',
 264: 'AA',
 265: 'AA',
 266: 'AA',
 267: 'AA',
 268: 'AA',
 269: 'AA',
 270: 'AA',
 271: 'AA',
 272: 'AA',
 273: 'AA',
 274: 'AA',
 275: 'AA',
 276: 'AA',
 277: 'AA',
 278: 'AA',
 279: 'AA',
 280: 'AA',
 281: 'AA',
 282: 'AA',
 283: 'AA',
 284: 'AA',
 285: 'AA',
 286: 'AA',
 287: 'AA',
 288: 'AA',
 289: 'AA',
 290: 'AA',
 291: 'AA',
 292: 'AA',
 293: 'AA',
 294: 'AA',
 295: 'AA',
 296: 'AA',
 297: 'AA',
 298: 'AA',
 299: 'AA',
 300: 'AA',
 301: 'AA',
 302: 'AA',
 303: 'AA',
 304: 'AA',
 305: 'AA',
 306: 'AA',
 307: 'AA',
 308: 'AA',
 309: 'AA',
 310: 'AA',
 311: 'AA',
 312: 'AA',
 313: 'AA',
 314: 'AA',
 315: 'AA',
 316: 'AA',
 317: 'AA',
 318: 'AA',
 319: 'AA',
 320: 'AA',
 321: 'AA',
 322: 'AA',
 323: 'AA',
 324: 'AA',
 325: 'AA',
 326: 'AA',
 327: 'AA',
 328: 'AA',
 329: 'AA',
 330: 'AA',
 331: 'AA',
 332: 'AA',
 333: 'AA',
 334: 'AA',
 335: 'AA',
 336: 'AA',
 337: 'AA',
 338: 'AA',
 339: 'AA',
 340: 'AA',
 341: 'AA',
 342: 'AA',
 343: 'AA',
 344: 'AA',
 345: 'AA',
 346: 'AA',
 347: 'AA',
 348: 'AA',
 349: 'AA',
 350: 'AA',
 351: 'AA',
 352: 'AA',
 353: 'AA',
 354: 'AA',
 355: 'AA',
 356: 'AA',
 357: 'AA',
 358: 'AA',
 359: 'AA',
 360: 'AA',
 361: 'AA',
 362: 'AA',
 363: 'AA',
 364: 'AA',
 365: 'AA',
 366: 'AA',
 367: 'AA',
 368: 'AA',
 369: 'AA',
 370: 'AA',
 371: 'AA',
 372: 'AA',
 373: 'AA',
 374: 'AA',
 375: 'AA',
 376: 'AA',
 377: 'AA',
 378: 'AA',
 379: 'AA',
 380: 'AA',
 381: 'AA',
 382: 'AA',
 383: 'AA',
 384: 'AA',
 385: 'AA',
 386: 'AA',
 387: 'AA',
 388: 'AA',
 389: 'AA',
 390: 'AA',
 391: 'AA',
 392: 'AA',
 393: 'AA',
 394: 'AA',
 395: 'AA',
 396: 'AA',
 397: 'AA',
 398: 'AA',
 399: 'AA',
 400: 'AA',
 401: 'AA',
 402: 'AA',
 403: 'AA',
 404: 'AA',
 405: 'AA',
 406: 'AA',
 407: 'AA',
 408: 'AA',
 409: 'AA',
 410: 'AA',
 411: 'AA',
 412: 'AA',
 413: 'AA',
 414: 'AA',
 415: 'AA',
 416: 'AA',
 417: 'AA',
 418: 'AA',
 419: 'AA',
 420: 'AA',
 421: 'AA',
 422: 'AA',
 423: 'AA',
 424: 'AA',
 425: 'AA',
 426: 'AA',
 427: 'AA',
 428: 'AA',
 429: 'AA',
 430: 'AA',
 431: 'AA',
 432: 'AA',
 433: 'AA',
 434: 'AA',
 435: 'AA',
 436: 'AA',
 437: 'AA',
 438: 'AA',
 439: 'AA',
 440: 'AA',
 441: 'AA',
 442: 'AA',
 443: 'AA',
 444: 'AA',
 445: 'AA',
 446: 'AA',
 447: 'AA',
 448: 'AA',
 449: 'AA',
 450: 'AA',
 451: 'AA',
 452: 'AA',
 453: 'AA',
 454: 'AA',
 455: 'AA',
 456: 'AA',
 457: 'AA',
 458: 'AA',
 459: 'AA',
 460: 'AA',
 461: 'AA',
 462: 'AA',
 463: 'AA',
 464: 'AA',
 465: 'AA',
 466: 'AA',
 467: 'AA',
 468: 'AA',
 469: 'AA',
 470: 'AA',
 471: 'AA',
 472: 'AA',
 473: 'AA',
 474: 'AA',
 475: 'AA',
 476: 'AA',
 477: 'AA',
 478: 'AA',
 479: 'AA',
 480: 'AA',
 481: 'AA',
 482: 'AA',
 483: 'AA',
 484: 'AA',
 485: 'AA',
 486: 'AA',
 487: 'AA',
 488: 'AA',
 489: 'AA',
 490: 'AAPL',
 491: 'AAPL',
 492: 'AAPL',
 493: 'AAPL',
 494: 'AAPL',
 495: 'AAPL',
 496: 'AAPL',
 497: 'AAPL',
 498: 'AAPL',
 499: 'AAPL',
 500: 'AAPL',
 501: 'AAPL',
 502: 'AAPL',
 503: 'AAPL',
 504: 'AAPL',
 505: 'AAPL',
 506: 'AAPL',
 507: 'AAPL',
 508: 'AAPL',
 509: 'AAPL',
 510: 'AAPL',
 511: 'AAPL',
 512: 'AAPL',
 513: 'AAPL',
 514: 'AAPL',
 515: 'AAPL',
 516: 'AAPL',
 517: 'AAPL',
 518: 'AAPL',
 519: 'AAPL',
 520: 'AAPL',
 521: 'AAPL',
 522: 'AAPL',
 523: 'AAPL',
 524: 'AAPL',
 525: 'AAPL',
 526: 'AAPL',
 527: 'AAPL',
 528: 'AAPL',
 529: 'AAPL',
 530: 'AAPL',
 531: 'AAPL',
 532: 'AAPL',
 533: 'AAPL',
 534: 'AAPL',
 535: 'AAPL',
 536: 'AAPL',
 537: 'AAPL',
 538: 'AAPL',
 539: 'AAPL',
 540: 'AAPL',
 541: 'AAPL',
 542: 'AAPL',
 543: 'AAPL',
 544: 'AAPL',
 545: 'AAPL',
 546: 'AAPL',
 547: 'AAPL',
 548: 'AAPL',
 549: 'AAPL',
 550: 'AAPL',
 551: 'AAPL',
 552: 'AAPL',
 553: 'AAPL',
 554: 'AAPL',
 555: 'AAPL',
 556: 'AAPL',
 557: 'AAPL',
 558: 'AAPL',
 559: 'AAPL',
 560: 'AAPL',
 561: 'AAPL',
 562: 'AAPL',
 563: 'AAPL',
 564: 'AAPL',
 565: 'AAPL',
 566: 'AAPL',
 567: 'AAPL',
 568: 'AAPL',
 569: 'AAPL',
 570: 'AAPL',
 571: 'AAPL',
 572: 'AAPL',
 573: 'AAPL',
 574: 'AAPL',
 575: 'AAPL',
 576: 'AAPL',
 577: 'AAPL',
 578: 'AAPL',
 579: 'AAPL',
 580: 'AAPL',
 581: 'AAPL',
 582: 'AAPL',
 583: 'AAPL',
 584: 'AAPL',
 585: 'AAPL',
 586: 'AAPL',
 587: 'AAPL',
 588: 'AAPL',
 589: 'AAPL',
 590: 'AAPL',
 591: 'AAPL',
 592: 'AAPL',
 593: 'AAPL',
 594: 'AAPL',
 595: 'AAPL',
 596: 'AAPL',
 597: 'AAPL',
 598: 'AAPL',
 599: 'AAPL',
 600: 'AAPL',
 601: 'AAPL',
 602: 'AAPL',
 603: 'AAPL',
 604: 'AAPL',
 605: 'AAPL',
 606: 'AAPL',
 607: 'AAPL',
 608: 'AAPL',
 609: 'AAPL',
 610: 'AAPL',
 611: 'AAPL',
 612: 'AAPL',
 613: 'AAPL',
 614: 'AAPL',
 615: 'AAPL',
 616: 'AAPL',
 617: 'AAPL',
 618: 'AAPL',
 619: 'AAPL',
 620: 'AAPL',
 621: 'AAPL',
 622: 'AAPL',
 623: 'AAPL',
 624: 'AAPL',
 625: 'AAPL',
 626: 'AAPL',
 627: 'AAPL',
 628: 'AAPL',
 629: 'AAPL',
 630: 'AAPL',
 631: 'AAPL',
 632: 'AAPL',
 633: 'AAPL',
 634: 'AAPL',
 635: 'AAPL',
 636: 'AAPL',
 637: 'AAPL',
 638: 'AAPL',
 639: 'AAPL',
 640: 'AAPL',
 641: 'AAPL',
 642: 'AAPL',
 643: 'AAPL',
 644: 'AAPL',
 645: 'AAPL',
 646: 'AAPL',
 647: 'AAPL',
 648: 'AAPL',
 649: 'AAPL',
 650: 'AAPL',
 651: 'AAPL',
 652: 'AAPL',
 653: 'AAPL',
 654: 'AAPL',
 655: 'AAPL',
 656: 'AAPL',
 657: 'AAPL',
 658: 'AAPL',
 659: 'AAPL',
 660: 'AAPL',
 661: 'AAPL',
 662: 'AAPL',
 663: 'AAPL',
 664: 'AAPL',
 665: 'AAPL',
 666: 'AAPL',
 667: 'AAPL',
 668: 'AAPL',
 669: 'AAPL',
 670: 'AAPL',
 671: 'AAPL',
 672: 'AAPL',
 673: 'AAPL',
 674: 'AAPL',
 675: 'AAPL',
 676: 'AAPL',
 677: 'AAPL',
 678: 'AAPL',
 679: 'AAPL',
 680: 'AAPL',
 681: 'AAPL',
 682: 'AAPL',
 683: 'AAPL',
 684: 'AAPL',
 685: 'AAPL',
 686: 'AAPL',
 687: 'AAPL',
 688: 'AAPL',
 689: 'AAPL',
 690: 'AAPL',
 691: 'AAPL',
 692: 'AAPL',
 693: 'AAPL',
 694: 'AAPL',
 695: 'AAPL',
 696: 'AAPL',
 697: 'AAPL',
 698: 'AAPL',
 699: 'AAPL',
 700: 'AAPL',
 701: 'AAPL',
 702: 'AAPL',
 703: 'AAPL',
 704: 'AAPL',
 705: 'AAPL',
 706: 'AAPL',
 707: 'AAPL',
 708: 'AAPL',
 709: 'AAPL',
 710: 'AAPL',
 711: 'AAPL',
 712: 'AAPL',
 713: 'AAPL',
 714: 'AAPL',
 715: 'AAPL',
 716: 'AAPL',
 717: 'AAPL',
 718: 'AAPL',
 719: 'AAPL',
 720: 'AAPL',
 721: 'AAPL',
 722: 'AAPL',
 723: 'AAPL',
 724: 'AAPL',
 725: 'AAPL',
 726: 'AAPL',
 727: 'AAPL',
 728: 'AAPL',
 729: 'AAPL',
 730: 'AAPL',
 731: 'ABC',
 732: 'ABC',
 733: 'ABC',
 734: 'ABC',
 735: 'ABC',
 736: 'ABC',
 737: 'ABC',
 738: 'ABC',
 739: 'ABC',
 740: 'ABC',
 741: 'ABC',
 742: 'ABC',
 743: 'ABC',
 744: 'ABC',
 745: 'ABC',
 746: 'ABC',
 747: 'ABC',
 748: 'ABC',
 749: 'ABC',
 750: 'ABC',
 751: 'ABC',
 752: 'ABC',
 753: 'ABC',
 754: 'ABC',
 755: 'ABC',
 756: 'ABC',
 757: 'ABC',
 758: 'ABC',
 759: 'ABC',
 760: 'ABC',
 761: 'ABC',
 762: 'ABC',
 763: 'ABC',
 764: 'ABC',
 765: 'ABC',
 766: 'ABC',
 767: 'ABC',
 768: 'ABC',
 769: 'ABC',
 770: 'ABC',
 771: 'ABC',
 772: 'ABC',
 773: 'ABC',
 774: 'ABC',
 775: 'ABC',
 776: 'ABC',
 777: 'ABC',
 778: 'ABC',
 779: 'ABC',
 780: 'ABC',
 781: 'ABC',
 782: 'ABC',
 783: 'ABC',
 784: 'ABC',
 785: 'ABC',
 786: 'ABC',
 787: 'ABC',
 788: 'ABC',
 789: 'ABC',
 790: 'ABC',
 791: 'ABC',
 792: 'ABC',
 793: 'ABC',
 794: 'ABC',
 795: 'ABC',
 796: 'ABC',
 797: 'ABC',
 798: 'ABC',
 799: 'ABC',
 800: 'ABC',
 801: 'ABC',
 802: 'ABC',
 803: 'ABC',
 804: 'ABC',
 805: 'ABC',
 806: 'ABC',
 807: 'ABC',
 808: 'ABC',
 809: 'ABC',
 810: 'ABC',
 811: 'ABC',
 812: 'ABC',
 813: 'ABC',
 814: 'ABC',
 815: 'ABC',
 816: 'ABC',
 817: 'ABC',
 818: 'ABC',
 819: 'ABC',
 820: 'ABC',
 821: 'ABC',
 822: 'ABC',
 823: 'ABC',
 824: 'ABC',
 825: 'ABC',
 826: 'ABC',
 827: 'ABC',
 828: 'ABC',
 829: 'ABC',
 830: 'ABC',
 831: 'ABC',
 832: 'ABC',
 833: 'ABC',
 834: 'ABC',
 835: 'ABC',
 836: 'ABC',
 837: 'ABC',
 838: 'ABC',
 839: 'ABC',
 840: 'ABC',
 841: 'ABC',
 842: 'ABC',
 843: 'ABC',
 844: 'ABC',
 845: 'ABC',
 846: 'ABC',
 847: 'ABC',
 848: 'ABC',
 849: 'ABC',
 850: 'ABC',
 851: 'ABC',
 852: 'ABC',
 853: 'ABC',
 854: 'ABC',
 855: 'ABC',
 856: 'ABC',
 857: 'ABC',
 858: 'ABC',
 859: 'ABC',
 860: 'ABC',
 861: 'ABC',
 862: 'ABC',
 863: 'ABC',
 864: 'ABC',
 865: 'ABC',
 866: 'ABC',
 867: 'ABC',
 868: 'ABC',
 869: 'ABC',
 870: 'ABC',
 871: 'ABC',
 872: 'ABC',
 873: 'ABC',
 874: 'ABC',
 875: 'ABC',
 876: 'ABC',
 877: 'ABC',
 878: 'ABC',
 879: 'ABC',
 880: 'ABC',
 881: 'ABC',
 882: 'ABC',
 883: 'ABC',
 884: 'ABC',
 885: 'ABC',
 886: 'ABC',
 887: 'ABC',
 888: 'ABC',
 889: 'ABC',
 890: 'ABC',
 891: 'ABC',
 892: 'ABC',
 893: 'ABC',
 894: 'ABC',
 895: 'ABC',
 896: 'ABC',
 897: 'ABC',
 898: 'ABC',
 899: 'ABC',
 900: 'ABC',
 901: 'ABC',
 902: 'ABC',
 903: 'ABC',
 904: 'ABC',
 905: 'ABC',
 906: 'ABC',
 907: 'ABC',
 908: 'ABC',
 909: 'ABC',
 910: 'ABC',
 911: 'ABC',
 912: 'ABC',
 913: 'ABC',
 914: 'ABC',
 915: 'ABC',
 916: 'ABC',
 917: 'ABC',
 918: 'ABC',
 919: 'ABC',
 920: 'ABC',
 921: 'ABC',
 922: 'ABC',
 923: 'ABC',
 924: 'ABC',
 925: 'ABC',
 926: 'ABC',
 927: 'ABC',
 928: 'ABC',
 929: 'ABC',
 930: 'ABC',
 931: 'ABC',
 932: 'ABC',
 933: 'ABC',
 934: 'ABC',
 935: 'ABC',
 936: 'ABC',
 937: 'ABC',
 938: 'ABC',
 939: 'ABC',
 940: 'ABC',
 941: 'ABC',
 942: 'ABC',
 943: 'ABC',
 944: 'ABC',
 945: 'ABC',
 946: 'ABC',
 947: 'ABC',
 948: 'ABC',
 949: 'ABC',
 950: 'ABC',
 951: 'ABC',
 952: 'ABC',
 953: 'ABC',
 954: 'ABC',
 955: 'ABC',
 956: 'ABC',
 957: 'ABC',
 958: 'ABC',
 959: 'ABC',
 960: 'ABC',
 961: 'ABC',
 962: 'ABC',
 963: 'ABC',
 964: 'ABC',
 965: 'ABC',
 966: 'ABC',
 967: 'ABC',
 968: 'ABC',
 969: 'ABC',
 970: 'ABC',
 971: 'ABC',
 972: 'ABC',
 973: 'ABC',
 974: 'ABC',
 975: 'ABC',
 976: 'ABT',
 977: 'ABT',
 978: 'ABT',
 979: 'ABT',
 980: 'ABT',
 981: 'ABT',
 982: 'ABT',
 983: 'ABT',
 984: 'ABT',
 985: 'ABT',
 986: 'ABT',
 987: 'ABT',
 988: 'ABT',
 989: 'ABT',
 990: 'ABT',
 991: 'ABT',
 992: 'ABT',
 993: 'ABT',
 994: 'ABT',
 995: 'ABT',
 996: 'ABT',
 997: 'ABT',
 998: 'ABT',
 999: 'ABT',
 ...}

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [7]:
f1,f2= pd.read_csv('recipes_sample.csv',parse_dates=['submitted']),pd.read_csv('reviews_sample.csv')
recipes,reviews = pd.DataFrame(f1),pd.DataFrame(f2)
recipes
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [8]:
print(f'recipes_sample.csv \nКол-во строк - {recipes.shape[0]}, \nКол-во столбцов - {recipes.shape[1]},\nТип данных каждого столбца\n{recipes.dtypes}\n')
print(f'reviews_sample.csv \nКол-во строк - {reviews.shape[0]}, \nКол-во столбцов - {reviews.shape[1]} \nТип данных каждого столбца\n{reviews.dtypes}')

recipes_sample.csv
Кол-во строк - 30000,
Кол-во столбцов - 8,
Тип данных каждого столбца
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

reviews_sample.csv
Кол-во строк - 126696,
Кол-во столбцов - 6
Тип данных каждого столбца
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [9]:
print(f'кол-во пропусков в столбцах таблицы recipes_sample.csv \n{recipes.isnull().sum(axis=0)}\nдоля строк, содержащих пропуски - {recipes.isnull().sum(axis=0).sum()/recipes.shape[0]*100} % \n\n')
print(f'кол-во пропусков в столбцах таблицы reviews_sample.csv \n{reviews.isnull().sum(axis=0)}\nдоля строк, содержащих пропуски - {reviews.isnull().sum(axis=0).sum()/reviews.shape[0]*100} % ')

кол-во пропусков в столбцах таблицы recipes_sample.csv
name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
доля строк, содержащих пропуски - 68.97666666666666 %


кол-во пропусков в столбцах таблицы reviews_sample.csv
Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64
доля строк, содержащих пропуски - 0.013417945317926377 %

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [10]:
print(f'\nсреднее значение для каждого из числовых столбцов recipes \n\n{recipes.loc[:,recipes.dtypes!=object].mean()}\n\n')
print(f'среднее значение для каждого из числовых столбцов recipes \n\n{reviews.loc[:,reviews.dtypes!=object].mean()}')

среднее значение для каждого из числовых столбцов recipes

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64


среднее значение для каждого из числовых столбцов recipes

Unnamed: 0    5.660898e+05
user_id       1.408013e+08
recipe_id     1.600944e+05
rating        4.410802e+00
dtype: float64

C:\Users\maria\AppData\Local\Temp\ipykernel_8244\667737116.py:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  print(f'\nсреднее значение для каждого из числовых столбцов recipes \n\n{recipes.loc[:,recipes.dtypes!=object].mean()}\n\n')

1.5 Создайте серию из 10 случайных названий рецептов.

In [11]:
s=np.random.rand(10)*recipes.shape[0]
s=np.array(s,dtype=int)
print('10 случайных id рецептов',s)
recipes.loc[s]['name']

10 случайных id рецептов [ 7948  3704  4550 16441 11434 20718 19254  5805 22119  2662]

7948       cranberry orange bread with orange butter glaze
3704     breakfast casserole   easy   sausage cream cheese
4550                                       candy bar shake
16441                                low carb tuna muffins
11434                       fresh tomato and onion chutney
20718                                    pico de gallo dip
19254    oooh la la  french savoury ham  cheese and oli...
5805                                  chicken in casserole
22119                    ranch chicken thigh s gluten free
2662                                          beef skewers
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [12]:
reviews.index=np.arange(reviews.shape[0])
reviews

,Unnamed: 0,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [13]:
recipes.loc[(recipes['minutes'] <=20) & (recipes['n_ingredients' ] <=5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [14]:
recipes['submitted']=pd.to_datetime(recipes['submitted'])
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

In [15]:
rr=pd.read_csv('recipes_sample.csv',delimiter=',',parse_dates=['submitted'])
rr.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [16]:
recipes.loc[pd.DatetimeIndex(recipes['submitted']).year <=2010]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [17]:
recipes['description_length']=(recipes['description']).str.len()

recipes.to_csv('3_1_pandas.csv')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [18]:
recipes['name'] = recipes['name'].str.capitalize()
recipes.to_csv('3_2_pandas.csv')
recipes['name']

0               George s at the cove  black bean soup
1                  Healthy for them  yogurt popsicles
2                        I can t believe it s spinach
3                                Italian  gut busters
4            Love is in the air  beef fondue   sauces
                             ...
29995    Zurie s holey rustic olive and cheddar bread
29996            Zwetschgenkuchen  bavarian plum cake
29997     Zwiebelkuchen   southwest german onion cake
29998                                     Zydeco soup
29999          Cookies by design   cookies on a stick
Name: name, Length: 30000, dtype: object

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [19]:
recipes['name_word_count']=(recipes['name']).str.split().str.len()
recipes.to_csv('3_3_pandas.csv')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [20]:
file4_1=pd.DataFrame(recipes['contributor_id'].value_counts())
s=pd.DataFrame(file4_1)
print(f'{s}\n\n{s.iloc[0].name}\n')

         contributor_id
89831               421
37449               346
37779               345
1533                186
169430              183
...                 ...
1061628               1
1076183               1
429061                1
64032                 1
186118                1

[8404 rows x 1 columns]

89831

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [21]:

file4_2=pd.DataFrame(reviews['recipe_id'].value_counts())
file4_2

        recipe_id
27208        1382
82102         708
135350        674
107786        592
50719         486
...           ...
23964           1
499966          1
418761          1
430164          1
296868          1

[28100 rows x 1 columns]

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [22]:
d4_3=pd.DatetimeIndex(recipes['submitted']).year
d4_3=pd.Series(d4_3)
d4_3.value_counts()

2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: submitted, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [23]:
reviews['id']=reviews['recipe_id']
df5_1 = pd.merge(recipes, reviews) 
df5_1=df5_1[['id','name','user_id','rating']]
#df3=df3.loc[df3['rating'].notna()]
#df3.loc[df3['rating']==np.NaN]
df5_1

            id                                    name  user_id  rating
0        44123   George s at the cove  black bean soup   743566       5
1        44123   George s at the cove  black bean soup    76503       5
2        44123   George s at the cove  black bean soup    34206       5
3        67664      Healthy for them  yogurt popsicles   494084       5
4        67664      Healthy for them  yogurt popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco soup   305531       5
126692  486161                             Zydeco soup  1271506       5
126693  486161                             Zydeco soup   724631       5
126694  486161                             Zydeco soup   133174       5
126695  298512  Cookies by design   cookies on a stick   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [30]:
a=pd.DataFrame(reviews['recipe_id'].value_counts())
a['id']=a.index
a.index=[[i for i in range(a.shape[0])]]
a.columns = ['review_count','id']
df5_2=pd.merge(a,reviews)
df5_2=pd.merge(df5_2,recipes)
df5_2=df5_2[['recipe_id', 'name', 'review_count']]
recipes['recipe_id']=recipes['id']
s2=pd.merge(recipes,reviews,how='outer')
s2=s2[s2['rating'].isna()]
df5_2=pd.merge(df5_2,s2,how='outer')
df5_2=df5_2[['review_count', 'name', 'recipe_id']]
df5_2['review_count']=df5_2['review_count'].fillna(0)
df5_2

        review_count                                  name  recipe_id
0             1382.0            To die for crock pot roast      27208
1             1382.0            To die for crock pot roast      27208
2             1382.0            To die for crock pot roast      27208
3             1382.0            To die for crock pot roast      27208
4             1382.0            To die for crock pot roast      27208
...              ...                                   ...        ...
128591           0.0                    Zingy potato salad      66966
128592           0.0    Zucchini  mock green papaya  salad     249846
128593           0.0         Zucchini and corn with cheese     256177
128594           0.0                    Zucchini nut salad     178243
128595           0.0  Zucchini with bell pepper and tomato     363362

[128596 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [25]:
reviews[reviews['id']==66]['rating'].sum()

89

In [26]:
m=reviews.groupby(['id']).sum()
recipes['year']=pd.DatetimeIndex(recipes['submitted']).year
n=recipes[['id','year']]
m['id']=m.index
m.index=np.arange(m.shape[0])
df5_3=pd.merge(m,n)
rating_sum=df5_3.groupby(['year']).sum()
year_count=df5_3.groupby(['year']).count()
answer=rating_sum['rating']/year_count['id']
answer.sort_values()[:1]

year
2017    3.666667
dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [27]:
recipes6_1=recipes.sort_values('name_word_count',ascending=False)
recipes6_1

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count,recipe_id,year
26223,Subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15,77188,2003
28083,Tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436.0,14,102274,2004
26222,Subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087.0,14,76908,2003
27876,Top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129.0,14,113346,2005
5734,Chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144.0,13,294898,2008
...,...,...,...,...,...,...,...,...,...,...,...,...
3253,Blackmoons,323195,430,415934,2008-09-04,5.0,my mom was a newlywed in the 1950s when she fo...,NaN,389.0,1,323195,2008
4138,Bushwhacker,156521,10,177392,2006-02-17,1.0,this drink is an excellent after dinner drink ...,6.0,124.0,1,156521,2006
2357,Basbousa,12957,60,18391,2001-10-20,NaN,this is a traditional middle eastern dessert. ...,NaN,78.0,1,12957,2001
15052,Josefinas,264859,20,498271,2007-11-11,7.0,"from the junior league of corpus christi tx, t...",NaN,92.0,1,264859,2007
4710,Caramels,143615,30,212088,2005-11-02,NaN,i've been making these at christmas time for y...,6.0,341.0,1,143615,2005

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [33]:
with pd.ExcelWriter("results_5_1_2.xlsx",engine='xlsxwriter') as writer:
    df5_2.to_excel(writer, "Количество отзывов по рецептам")
    df5_1.to_excel(writer, sheet_name="Рецепты с оценками")

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3